.collections-list {
  list-style-type: none;
  padding-left: 0rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.collection-opearation-buttons {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

.collection-opearation-button {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.collection-opearation-button {
  font-size: 1.3rem;
  text-align: center;
  text-justify: center;
  padding: 1rem 1.5rem;
  border: 0.2rem solid var(--component-border);
  border-radius: 0.6rem;
  background-color: var(--page-primary-background);
  color: var(--text-color);
}

.collection-opearation-button:hover {
  background-color: var(--text-hover);
}
