main {
    width: 77vw;
    height: 91vh;
    border-top: 0.2rem solid var(--component-border);
    border-right: 0.2rem solid var(--component-border);
    border-bottom: 0.2rem solid var(--component-border);
    margin-top: auto;
    background-color: var(--page-secondary-background);
}