aside {
  width: 23vw;
  height: 91vh;
  border: 0.2rem solid var(--component-border);
  background-color: var(--page-secondary-background);
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1237px) {
  aside {
    background-color: var(--page-primary-background);
    width: min(27rem, 50%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 5px 10px 15px var(--sidebar-box-shadow);
  }
}

.request-list {
  list-style-type: none;
  padding: 0.5rem 0rem;
  margin: 1rem;
  border: 0.2rem solid var(--component-border);
  border-radius: 0.7rem;
}

.sidebar-view-buttons {
  display: flex;
  flex-direction: row;
  height: 4rem;
}

.sidebar-view-button {
  min-width: 0;
  font-size: 1.26rem;
  flex: 1;
  background: none;
  border: none;
  color: var(--text-color);
  padding: 1rem;
}

.sidebar-view-button:not(.sidebar-active-view):hover {
  background-color: var(--text-hover);
}

.sidebar-view-button.sidebar-active-view {
  border-top: 0.3rem solid var(--primary-color);
  border-bottom-color: var(--page-secondary-background);
}

.sidebar-requests-button.sidebar-active-view {
  border-right: 0.2rem solid var(--component-border);
}

.sidebar-collections-button.sidebar-active-view {
  border-left: 0.2rem solid var(--component-border);
}

.sidebar-history-button.sidebar-active-view {
  border-right: 0.2rem solid var(--component-border);
  border-left: 0.2rem solid var(--component-border);
}

.sidebar-view-button {
  border-bottom: 0.2rem solid var(--component-border);
}

.view-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
}

.view-container > *:not(.add-collection) {
  min-height: 0;
  flex: 0 1 1;
  overflow-y: auto;
}

.view-container > *:not(.add-collection)::-webkit-scrollbar {
  width: 0.5rem; /* thin horizontal scrollbar */
}

.view-container > *:not(.add-collection)::-webkit-scrollbar-track {
  background: transparent; /* no big track */
}

.view-container > *:not(.add-collection)::-webkit-scrollbar-thumb {
  background-color: #666; /* solid color */
  border-radius: 0.4rem;
}
