.tab {
  position: relative;
  box-sizing: border-box;
  font-size: 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem;
  height: 4rem;
  display: flex;
  align-self: center;
  border-bottom: 0.2rem solid var(--component-border);
}

.tab:last-child {
  border-right: 0.2rem solid var(--component-border);
}

.tab.active-tab:not(:last-child),
.tab.active-tab:not(:first-child) {
  border-bottom: 0.2rem solid var(--page-secondary-background);
  border-top: 0.3rem solid var(--primary-color);
  border-right: 0.2rem solid var(--component-border);
  border-left: 0.2rem solid var(--component-border);
}

.tab-title {
  margin: 0rem;
  max-width: 20rem;
  overflow-x: hidden;
  align-content: center;
  font-weight: normal;
}

.tab-button {
  display: none;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background-color: var(--page-secondary-background);
}

.tab:hover .tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.tab-button:hover {
  background-color: var(--icon-hover);
}

.tab-button-icon {
  height: 2rem;
}
