.aside-main {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 1237px) {
  /* main {
    display: block;
    border-left: 0.2rem solid var(--component-border);
  } */

  .aside-main {
    position: relative;
    justify-content: center;
  }
}

