:root {
  --primary-color: #a200b7;
  --dark-mode-toggle: #515050;
  --light-mode-toggle: white;
  --text-button-hover: #a200b771;
}

:root[data-theme="Light-Mode"] {
  --page-primary-background: white;
  --page-secondary-background: #ededed;
  --component-border: #d6d6d6;
  --text-color: black;
  --text-hover: #d7d7d7;
  --icon-hover: #c0c0c0;
  --patch: #623497;
  --get: #007f31;
  --post: #b98d27;
  --put: #0355b9;
  --delete: #94261c;
  --head: #269250;
  --options: #a61468;
  --connect: #048290;
  --trace: #ff4a4a;
  --form-input: #488fe6;
}

:root[data-theme="Dark-Mode"] {
  --page-primary-background: #1a1a1a;
  --page-secondary-background: #252525;
  --component-border: #535353;
  --text-color: white;
  --text-hover: #363636;
  --icon-hover: #4d4d4d;
  --patch: #c0a8e1;
  --get: #6bdd9a;
  --post: #e8d074;
  --put: #74aef6;
  --delete: #f79a8e;
  --head: #67d293;
  --options: #d9579f;
  --connect: #00c3d8;
  --trace: #fe8585;
  --form-input: #097BED;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
  box-sizing: content-box;
}

html {
  font-size: clamp(8px, 0.833vw, 62.5%);
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: var(--page-primary-background);
  color: var(--text-color);
  height: 100vh;
  margin: 0rem;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 0.7rem;
}

.icon-button:hover {
  background-color: var(--icon-hover);
}

.icon {
  height: 2rem;
}

span.method {
  font-weight: bold;
}

span.PATCH {
  color: var(--patch);
}

span.GET {
  color: var(--get);
}

span.POST {
  color: var(--post);
}

span.PUT {
  color: var(--put);
}

span.DELETE {
  color: var(--delete);
}

span.HEAD {
  color: var(--head);
}

span.OPTIONS {
  color: var(--options);
}

span.CONNECT {
  color: var(--connect);
}

span.TRACE {
  color: var(--trace);
}
