.method-select {
  position: relative;
  display: inline-block;
}

.method-btn {
  width: 10.5rem;
  height: 100%;
  padding: 0.6rem 1.2rem;
  background: var(--page-secondary-background);
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: none;
}

.method-menu {
  position: absolute;
  top: 120%;
  left: 0;
  border: 0.2rem solid var(--component-border);
  background: var(--page-primary-background);
  width: 97%;
  z-index: 10;
  border-radius: 0.5rem;
}

.method-option {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.method-option:hover,
.method-option.active-method {
  background: var(--text-hover);
}

.method-dropdown-text-container {
  display: flex;
  align-items: center;
}

.dropdown-logo {
    height: 2rem;
    margin-left: auto;
}
