.method-select {
  position: relative;
  display: inline-block;
}

.method-btn {
  width: 10.5rem;
  height: 100%;
  font-size: 1.32rem;
  padding: 0.6rem 1.2rem;
  background: var(--page-secondary-background);
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: none;
}

.method-menu {
  min-width: 10rem;
  position: absolute;
  top: 120%;
  left: 0;
  border: 0.2rem solid var(--component-border);
  background: var(--page-primary-background);
  width: 97%;
  z-index: 10;
  border-radius: 0.5rem;
}

.method-option {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.method-option:hover,
.method-option.active-method {
  background: var(--text-hover);
}

.method-dropdown-text-container {
  display: flex;
  align-items: center;
}

.dropdown-logo {
  height: 2rem;
  margin-left: auto;
}

@media only screen and (max-width: 1237px) {
  .dropdown-logo {
    margin-left: 0.5rem;
  }

  .method-btn {
    width: auto;
    padding-right: 0.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .method-btn {
    width: 9rem;

  }

  .dropdown-logo {
    margin-left: auto;
  }
}

@media only screen and (max-width: 700px) {
  .method-btn {
    width: auto;
    padding-right: 0.5rem;
  }
}
